*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img,
svg {
  display: block;
  max-width: 100%;
}

//
#root {
  min-height: 100svh;
  background-color: $magnolia;

  display: flex;
  justify-content: center;
  align-items: center;
}
