.form {
  display: flex;
  flex-direction: column;

  align-self: center;
  padding-right: 9rem;

  // FORM HEADER
  &__header {
    margin-bottom: 5rem;

    &--title {
      color: $marine-blue;
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }
    &--sub {
      font-size: 1.8rem;
      color: $cool-gray;
    }
  }

  // FORM BUTTONS
  //   &__buttons {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //   }

  &__button {
    &--next {
      color: $white;
      background-color: hsl(214, 72%, 32%);
      align-self: flex-end;

      padding: 1.8rem 3rem;
      border-radius: 1rem;
    }

    &--back {
      color: $cool-gray;

      &:hover {
        color: $marine-blue;
      }
    }
  }
}
