.form {
  padding: 0rem 9rem 2rem 0rem;

  align-self: flex-end;

  &__header {
    margin-bottom: 5rem;

    &--title {
      color: $marine-blue;
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }
    &--sub {
      font-size: 1.8rem;
      color: $cool-gray;
    }
  }

  &-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    color: $marine-blue;
    font-size: $default-fs;
    font-weight: 400;

    &--label {
      font-weight: $bold;
    }

    &--input {
      color: $marine-blue;
      font-size: 1.6rem;
      font-weight: $bolder;

      border: 1px solid $light-gray;
      border-radius: 1rem;

      padding: 1.5rem 2rem;

      &:focus {
        outline: none;
        border-color: $marine-blue;
      }

      &::placeholder {
        color: $cool-gray;
        font-size: 1.4rem;
        font-weight: $bolder;
      }
    }
  }

  &__button {
    cursor: pointer;
    margin-top: 5rem;

    align-self: end;
    padding: 1.8rem 3rem;
    color: $white;
    font-size: 1.6rem;
    font-weight: $bolder;

    border-radius: 1rem;
    border: none;
    background-color: hsl(214, 72%, 32%);
  }
}
